<div class="app-window">

  <div class="main-forum-div">
    <div class="forum-content">
      <h5><%= current_user.street%></h5>
    </div>

<!--~~~~~~~~ Search Bar ~~~~~~~~-->
    <div id="forum-search">
      <nav>
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input id="search" type="search"
                                 placeholder="search"
                                 required>
            </div>
          </form>
        </div>
      </nav>
    </div>

  <!--~~~~~~~~ Shows list of topics ~~~~~~~~-->
    <div id="forum-items">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div id="announcements">
              <a class="modal-trigger" href="#announcements-all-modal">Announcements(<%= @announcements_count%>)</a>
            </div>
          </li>
          <li>
            <div id="classified-ads">
              <a class="modal-trigger" href="#classified-all-modal">Classified Ads (<%= @classifieds_count%>)</a>
            </div>
          </li>

          <li>
            <div id="requests">
              <a class="modal-trigger" href="#request-all-modal">Requests (<%= @requests_count%>)</a>
            </div>
          </li>
        </ul>
    </div>

  </div>


  <!-- Modal forms for classifieds and requests -->
  <div id="classified-modal" class="modal">
    <div class="modal-content">
      <form class="classified-form" action="<%= forums_path %>" method="post">
        <input type="hidden"
               name="authenticity_token"
               value="<%= form_authenticity_token %>">
        <input type="hidden"
               value="classified"
               name="forum[forum_type]">
        <label id="ad-title">Ad Title</label>
        <input type="text"
               name="forum[topic]"
               placeholder="Enter topic for Ad">
        <label>Classified Content</label>
        <textarea id="ad-content"
               type="text"
               name="forum[content]"
               placeholder="Enter classified information"></textarea>
        <input type="submit"
               value="Create Classified Ad!">
      </form>
    </div>
  </div>

  <div id="request-modal" class="modal">
    <div class="modal-content">
      <form class="request-form" action="<%= forums_path %>" method="post">
        <input type="hidden"
               name="authenticity_token"
               value="<%= form_authenticity_token %>">
        <input type="hidden"
               value="request"
               name="forum[forum_type]">
        <label id="request-title">Request Title</label>
        <input type="text"
               name="forum[topic]"
               placeholder="Enter topic for your request">
        <label>Request Content</label>
        <textarea id="request-content"
               type="text"
               name="forum[content]"
               placeholder="Enter request information"></textarea>
        <input type="submit"
               value="Create Request!">
      </form>
    </div>
  </div>

  <div id="announcement-modal" class="modal">
    <div class="modal-content">
      <form class="announcement-form" action="<%= forums_path %>" method="post">
        <input type="hidden"
               name="authenticity_token"
               value="<%= form_authenticity_token %>">
        <input type="hidden"
               value="announcement"
               name="forum[forum_type]">
        <label id="announcement-title">Announcement Title</label>
        <input type="text"
               name="forum[topic]"
               placeholder="Enter topic for your request">
        <label>Announcement Content</label>
        <textarea id="announcement-content"
               type="text"
               name="forum[content]"
               placeholder="Enter announcement information"></textarea>
        <input type="submit"
               value="Create Announcement!">
      </form>
    </div>
  </div>

  <!-- Popup modals for announcements, classifieds and requests -->
  <div id="classified-all-modal" class="modal">
    <div class="modal-header">
      <h5>Classified Ads</h5>
      <div class="new-post-button">
        <a id="add-button" class="modal-trigger" href="#classified-modal">New Post</a>
      </div>
    </div>

    <div class="modal-content forum-list-content">
      <div class="list-outer-window">
        <% @all_forum.each do |forum| %>
          <% if forum.forum_type == "classified" %>
          <div class="post-content">

            <!--~~~~~ if forum post belongs to current user, display edit button ----->
            <% if forum.user_id == current_user.id %>
            <div class="gear-icon forum-gear">
              <%= link_to "Delete", forum_path(id: forum.id), method: "delete" %>
            </div>
            <h6><%= best_in_place forum, :topic %></h6>
            <% end %>
            <span><small>By <%= forum.author.firstname %> <%= forum.author.lastname %></small></span>
            <% if forum.user_id == current_user.id %>
            <p class="edit-space"><%= best_in_place forum, :content %></p>
            <% else %>
            <p>
              <%= forum.content %>
            </p>
            <% end %>
            <!--~~~~~~~ Comments Accordion ~~~~~~~~-->
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header collapsible-header-forum">
                  <p class='userlist'>View Comments</p>
                </div>
                <div class="collapsible-body">
                  <ul>
                    <% forum.comments.each do |comment| %>

                    <!--~~~~~ if forum post belongs to current user, display edit button ----->
                    <% if comment.user_id == current_user.id %>
                    <div class="gear-icon forum-gear">
                      <%= link_to "Delete", forum_comment_path(forum_id: forum.id, id: comment.id), method: "delete" %>
                    </div>
                    <% end %>

                    <!--~~~~~ display comment content ~~~~----->
                    <li><%= comment.content %>
                      <div><small><%= comment.author.firstname %> <%= comment.author.lastname %></small></div>
                    </li>
                    <% end %>
                    <li>
                      <div class="comment-form">
                        <%= form_for([forum, forum.comments.build]) do |f| %>
                        <div class="content-field">
                          <%= f.label :comment %> </br>
                          <%= f.text_area :content %>
                        </div>
                        <div class="actions">
                          <%= f.submit %>
                        </div>
                        <% end %>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="request-all-modal" class="modal">
    <div class="modal-header">
      <h5>Requests</h5>
      <div class="new-post-button">
        <a id="add-button" class="modal-trigger" href="#request-modal">New Post</a>
      </div>
    </div>
    <div class="modal-content forum-list-content">
      <div class="list-outer-window">
        <% @all_forum.each do |forum| %>
          <% if forum.forum_type == "request" %>
          <div class="post-content">

            <!--~~~~~ if forum post belongs to current user, display edit button ----->
            <% if forum.user_id == current_user.id %>
            <div class="gear-icon forum-gear">
              <%= link_to "Delete", forum_path(id: forum.id), method: "delete" %>
            </div>
            <h6><%= best_in_place forum, :topic %></h6>
            <% end %>
            <span><small>By <%= forum.author.firstname %> <%= forum.author.lastname %></small></span>
            <% if forum.user_id == current_user.id %>
            <p class="edit-space"><%= best_in_place forum, :content %></p>
            <% else %>
            <p>
              <%= forum.content %>
            </p>
            <% end %>
            <!--~~~~~~~ Comments Accordion ~~~~~~~~-->
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header collapsible-header-forum">
                  <p class='userlist'>View Comments</p>
                </div>
                <div class="collapsible-body">
                  <ul>
                    <% forum.comments.each do |comment| %>

                    <!--~~~~~ if forum post belongs to current user, display edit button ----->
                    <% if comment.user_id == current_user.id %>
                    <div class="gear-icon forum-gear">
                      <%= link_to "Delete", forum_comment_path(forum_id: forum.id, id: comment.id), method: "delete" %>
                    </div>
                    <% end %>

                    <!--~~~~~ display comment content ~~~~----->
                    <li><%= comment.content %>
                      <div><small><%= comment.author.firstname %> <%= comment.author.lastname %></small></div>
                    </li>
                    <% end %>
                    <li>
                      <div class="comment-form">
                        <%= form_for([forum, forum.comments.build]) do |f| %>
                        <div class="content-field">
                          <%= f.label :comment %> </br>
                          <%= f.text_area :content %>
                        </div>
                        <div class="actions">
                          <%= f.submit %>
                        </div>
                        <% end %>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="announcements-all-modal" class="modal">
    <div class="modal-header">
      <h5>Announcements</h5>
      <div class="new-post-button">
        <a id="add-button" class="modal-trigger" href="#announcement-modal">New Post</a>
      </div>
    </div>
    <div class="modal-content forum-list-content">
      <div class="list-outer-window">
        <% @all_forum.each do |forum| %>
          <% if forum.forum_type == "announcement" %>
          <div class="post-content">


            <!--~~~~~ if forum post belongs to current user, display edit button ----->
            <% if forum.user_id == current_user.id %>
            <div class="gear-icon forum-gear">
              <%= link_to "Delete", forum_path(id: forum.id), method: "delete" %>
            </div>
            <h6><%= best_in_place forum, :topic %></h6>
            <% end %>
            <span><small>By <%= forum.author.firstname %> <%= forum.author.lastname %></small></span>
            <% if forum.user_id == current_user.id %>
            <p class="edit-space"><%= best_in_place forum, :content %></p>
            <% else %>
            <p>
              <%= forum.content %>
            </p>
            <% end %>

            <!--~~~~~~~ Comments Accordion ~~~~~~~~-->
            <ul class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header collapsible-header-forum">
                  <p class='userlist'>View Comments</p>
                </div>
                <div class="collapsible-body">
                  <ul>
                    <% forum.comments.each do |comment| %>

                    <!--~~~~~ if comment post belongs to current user, display delete and best in place edit ----->
                      <% if comment.user_id == current_user.id %>
                      <div class="gear-icon forum-gear">
                            <%= link_to "Delete", forum_comment_path(forum_id: forum.id, id: comment.id), method: "delete" %>
                      </div>
                      <% end %>
                                <!--~~~~~ display comment content ~~~~----->
                      <li>
                        <% if comment.user_id == current_user.id %>
                          <%= best_in_place forum.comments(comment.id), :content %>
                        <% else %>
                          <%= comment.content %>
                        <% end %>
                        <div><small><%= comment.author.firstname %> <%= comment.author.lastname %></small></div>
                      </li>
                    <% end %>
                    <li>
                      <div class="comment-form">
                        <%= form_for([forum, forum.comments.build]) do |f| %>
                        <div class="content-field">
                          <%= f.label :comment %> </br>
                          <%= f.text_area :content %>
                        </div>
                        <div class="actions">
                          <%= f.submit %>
                        </div>
                        <% end %>
                      </div>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
            <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
