<div class="login-container">
  <div class="signup-login">
    <div class="sign-up">
      <a href="<%= new_user_path %>">Sign Up</a>
    </div>
    <div class="login">
      <a href="<%= new_session_path %>">Login</a>
    </div>
  </div>

  <form action="<%= users_path %>" method="post">
    <input class="app-border"
           type="hidden"
           name="authenticity_token"
           value="<%= form_authenticity_token %>">
    <input class="app-border"
           type="email"
           name="user[email]"
           <% if flash[:email] %>
               value="<%= flash[:email] %>"
           <% end %>
           placeholder="email">
    <input class="app-border"
           type="password"
           name="user[password]"
           placeholder="password">
    <input class="app-border"
           type="password"
           name="user[password_confirmation]"
           placeholder="confirm your password">
    <input class="app-border"
           type="text"
           name="user[firstname]"
           <% if flash[:firstname] %>
               value="<%= flash[:firstname] %>"
           <% end %>
           placeholder="first name">
    <input class="app-border"
           type="text"
           name="user[lastname]"
           <% if flash[:lastname] %>
               value="<%= flash[:lastname] %>"
           <% end %>
           placeholder="last name">
    <div class="street">
      <input id="street-address"
             class="app-border streetbig" type="text"
             name="user[street]"
             <% if flash[:street] %>
                 value="<%= flash[:street] %>"
             <% end %>
             placeholder="street name">
      <input class="app-border streetsmall" type="text"
             name="user[aptnumber]"
             <% if flash[:aptnumber] %>
                 value="<%= flash[:aptnumber] %>"
             <% end %>
             placeholder="apartment #">
    </div>

    <div class='location'>
      <input id="city"
             class="app-border"
             type="text"
             name="user[city]"
             <% if flash[:city] %>
                 value="<%= flash[:city] %>"
             <% end %>
             placeholder="city">
      <input id="state"
             class="app-border"
             type="text"
             name="user[state]"
             <% if flash[:state] %>
                 value="<%= flash[:state] %>"
             <% end %>
             placeholder="state">
      <input id="zip"
             class="app-border"
             type="text"
             name="user[zip]"
             <% if flash[:zip] %>
                 value="<%= flash[:zip] %>"
             <% end %>
             placeholder="zip">
    </div>
    <input type="submit" value="Sign Up">
  </form>
</div>
