<div class="app-window">

  <div class="tab-window">

    <div class="tab-content">

      <div class="tab">
        <input class="hidden-radio" type="radio" name="tab-group-1" id="tab-1" checked>
        <label for="tab-1">Profile</label>

        <div class="content">
          <div>
            <div class="user-show-div">
              <h2>MY PROFILE</h2>
                <div class="userphoto">
                  USER PHOTO
                </div>
                <h1><%= @user.firstname %> <%= @user.lastname %>, Apt: <%= @user.aptnumber %></h1>
                </br>
                <p>ABOUT ME:</p>
                <p><%= best_in_place @user, :aboutme %></p>
                <p>MY LOCAL RECOMMENDATIONS: </p>
                <p><%= best_in_place @user, :recommandations %></p>
              </div>
          </div>
        </div>
      </div>

      <div class="tab">
        <input class="hidden-radio" type="radio" name="tab-group-1" id="tab-2">
        <label for="tab-2">Neighbors</label>

        <div class="content">
          <div>

          <ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
    <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
  </li>
</ul>
        </div>
      </div>

      <div class="tab">
        <input class="hidden-radio" type="radio" name="tab-group-1" id="tab-3">
        <label for="tab-3">Settings</label>

        <div class="content">
          <div>My settings here.</div>
        </div>
      </div>
    </div>

  </div>

</div>
