<div class="app-window">

  <div class="tab-window">

    <div class="tab-content">

      <div class="tab">
        <input class="hidden-radio" type="radio" name="tab-group-1" id="tab-1" checked>

        <label for="tab-1">Profile</label>

        <div class="content">
          <div>
            <div class="user-show-div">
              <h5>My Profile</h5>
                <div class="userphoto">
                  User photo
                </div>
                <h5><%= @user.firstname %> <%= @user.lastname %>, Apt: <%= @user.aptnumber %></h5>
                </br>
                <p>About me:</p>
                <p class="edit-space"><%= best_in_place @user, :aboutme %></p>
                <p>My local recommandations: </p>
                <p class="edit-space"><%= best_in_place @user, :recommandations %></p>
              </div>
              </br>

              <p>
                <%= link_to "Delete Account", user_path, method: "delete" %>
              </p>

          </div>
        </div>
      </div>

      <div class="tab">
        <input class="hidden-radio" type="radio" name="tab-group-1" id="tab-2">
        <label for="tab-2">Neighbors</label>

        <div class="content">
          <div>
            <ul class="collapsible" data-collapsible="accordion">
            <% @all_users.each do |user| %>
            <li>
              <div class="collapsible-header"><p class='userlist'><%= user.firstname %> <%= user.lastname %>, Apt:      <%= user.aptnumber %> </p></div>
              <div class="collapsible-body"><p>About <%= user.firstname %>: <%= user.aboutme %></p><p><%= user.firstname %> recommends: <%= user.recommandations %></p></div>
            <% end %>
            </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="tab">
        <input class="hidden-radio" type="radio" name="tab-group-1" id="tab-3">
        <label for="tab-3">Around Me</label>
        <div class="content">
          <div id="map-canvas"></div>
        </div>
      </div>
    </div>

  </div>

</div>
