<div class="app-window">

  <div class="tab-window">

    <div class="left-column">
      <!-- 'Profile' should be a dynamic variable to inserts other names -->
      <a href="#tab-profile">Profile</a>
      <a href="#tab-neighbors">My Neighbors</a>
      <a href="#tab-settigs">Settings</a>
    </div>

    <div class="tab-content">
      <div class="default" id="tab-profile">
        <div><div class="user-show-div">
  <h2>MY PROFILE</h2>
    <div class="userphoto">
      USER PHOTO
    </div>
    <h1><%= @user.firstname %> <%= @user.lastname %>, Apt: <%= @user.aptnumber %></h1>
      </br>
        <p>ABOUT ME:</p>
        <p><%= best_in_place @user, :aboutme %></p>
        <p>MY LOCAL RECOMMENDATIONS: </p>
        <p><%= best_in_place @user, :recommandations %></p>
      </div>
      </div>
      </div>

      <div id="tab-neighbors">
        <div>My neighbors here.</div>
      </div>

      <div id="tab-settigs">
        <div>My settings here.</div>
      </div>
    </div>

  </div>

</div>
