<div class="app-window">

  <div class="tab-window">

    <div class="tab-content">

      <div class="tab">
        <input class="hidden-radio" type="radio" name="tab-group-1" id="tab-1" checked>

        <label for="tab-1">Profile</label>

        <div class="content">
          <div>
            <div class="user-show-div">
              <div class="content-footer">
                <a id="edit-button" class="modal-trigger" href="#modal1">Edit</a>
              </div>
              <div class="user-photo">
                <% if current_user.image.url(:thumb) == '/images/thumb/missing.png' %>
                <i class="fa fa-user fa-5x"></i>
                <% else %>
                <%= image_tag current_user.image.url(:thumb) %>
                <% end %>
              </div>
              <h5><%= @user.firstname %> <%= @user.lastname %></h5>
              </br>
              <div class="user-info">
                <p><%= @user.aboutme %></p>
                <h6>My Local Recommendations: </h6>
                <p><%= @user.recommandations %></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tab">
        <input class="hidden-radio" type="radio" name="tab-group-1" id="tab-2">
        <label for="tab-2">Neighbors</label>

        <div class="content">
          <div>
            <ul class="collapsible" data-collapsible="accordion">
            <% @all_users.each do |user| %>
            <li>
              <div class="collapsible-header"><p class='userlist'><%= user.firstname %> <%= user.lastname %>, Apt:      <%= user.aptnumber %> </p></div>
              <div class="collapsible-body"><p>About <%= user.firstname %>: <%= user.aboutme %></p><p><%= user.firstname %> recommends: <%= user.recommandations %></p></div>
            <% end %>
            </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="tab">
        <input class="hidden-radio" type="radio" name="tab-group-1" id="tab-3">
        <label for="tab-3">Around Me</label>
        <div class="content">
          <iframe
            width="595"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDQu_UYU4bSdgn0u1vG2EqcfM9WFbpNe_I
            &q=around+<%=@user.street%>,<%=@user.city%><%=@user.state%>&zoom=16" allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>

    <!--~~~~~~~~~~~~~~~~~~~~~~~~ Modal 1 Structure ~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <form class="user-edit-form" action="<%= user_path %>" method="post">
          <input type="hidden"
                 name="_method"
                 value="patch">
          <input type="hidden"
                 name="authenticity_token"
                 value="<%= form_authenticity_token %>">
          <label>First Name</label>
          <input type="text"
                 name="user[firstname]"
                 value="<%= @user.firstname %>">
          <label>Last Name</label>
          <input type="text"
                 name="user[lastname]"
                 value="<%= @user.lastname %>">
          <label>Bio</label>
          <textarea id="user-aboutme"
                 type="text"
                 name="user[aboutme]"><%= @user.aboutme %></textarea>
          <label>My Local Recommendations</label>
          <input type="text"
                 name="user[recommandations]"
                 value="<%= @user.recommandations %>">
          <input type="submit"
                 value="Update">
        </form>
        <div class="upload-photo">
          <label>Upload Profile Photo</label>
          <%= form_for @current_user do |f| %>
              <p>
                <%= f.file_field :image %>
              </p>
              <%= f.submit %>
          <% end %>
        </div>
        <div id="delete-section">
          <a id="delete-button" class="modal-trigger" href="#modal2">Delete Account</a>
        </div>
      </div>
    </div>

    <!---~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Modal 2 Structure ~~~~~~~~~~~~~~~~~~~~-->
    <div id="modal2" class="modal">
      <div class="modal-content">
        <h5>Are you sure you want to delete your account?</h5>
        <div class="delete_options">
          <div><%= link_to "Yes!", user_path, method: "delete" %></div>
          <div><a href="<%= user_path %>">No!</a></div>
        </div>
      </div>
    </div>

  </div>

</div>
