<!DOCTYPE html>
<html>
<head>
  <title>NeighborNation</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,600,200|Oxygen:400,300' rel='stylesheet' type='text/css'>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script>
    function initialize() {
      var mapCanvas = document.getElementById('map-canvas');
      var mapOptions = {
        center: new google.maps.LatLng(47.5403, -60.5463),
        zoom: 8,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(mapCanvas, mapOptions)
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>


</head>
<body>
    <div id="left-column">
      <div class="nav-icon-container">
        <div class="nav-icon">
          <a href="<%= user_path(current_user) %>"><i class="fa fa-user fa-3x"></i></a>
          <div>
            Profile
          </div>
        </div>
      </div>

    <div class="nav-icon-container">
      <div class="nav-icon">
        <a href="#"><i class="fa fa-users fa-3x"></i></a>
        <div>
          Forum
        </div>
      </div>
    </div>
      <div class="nav-icon-container">
        <div class="nav-icon">
          <a href="#"><i class="fa fa-calendar fa-3x"></i></a>
          <div>
            Calendar
          </div>
        </div>
      </div>

      <div class="nav-icon-container">
        <div class="nav-icon">
          <a href="#"><i class="fa fa-table fa-3x"></i></a>
          <div>
            Suggestion Box
          </div>
        </div>
      </div>
    </div>

    <header>
      <div class="logo-container">
        <div class="logo">
          NEIGHBOR<span>NATION</span>
        </div>
      </div>
    </header>
  <div id="main-page">
    <% if flash[:message] %>
      <div class="message">
        <%= flash[:message] %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
</html>
