<!DOCTYPE html>
<html>
<head>
  <title>NeighborNation</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,600,200|Oxygen:400,300' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>
<body>
    <div id="nav-burger-wrapper">
      <div id="nav-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
<!--<><><><>< Materialize menu not working well.... <><><><><><>-->
    <!-- <div id="menu-wrapper">
      <nav>
        <ul class="right hide-on-med-and-down">
          <li><a href="#!">First Sidebar Link</a></li>
          <li><a href="#!">Second Sidebar Link</a></li>
        </ul>
        <ul id="slide-out" class="side-nav">
          <li><a href="#!">First Sidebar Link</a></li>
          <li><a href="#!">Second Sidebar Link</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      </nav>
    </div> -->
    <% if current_user %>

    <div id="menu-wrapper">
      <ul id="menu">
        <li><a href="<% if (@user) %> <%= user_path(@user) %> <% end %>"><i class="fa fa-user fa-2x"></i></a>
          <div>
            Profile
          </div>
        </li>
        <li><a href=""><i class="fa fa-users fa-2x"></i></a>
          <div>
            Forum
          </div>
        </li>
        <li><a href=""><i class="fa fa-calendar fa-2x"></i></a>
          <div>
            Calendar
          </div>
        </li>
        <li><a href="<%= suggestions_path %>"><i class="fa fa-cube fa-2x"></i></a>
          <div>
            Suggestion Box
          </div>
        </li>
        <li>
          <div id="logout">
            <div id="logout-button">
              <%= link_to "Log Out", session_path, method: "delete" %>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div id="left-column">
      <div class="nav-icon-container">
        <div class="nav-icon">
          <!-- Add statement so that link doesn't refresh page if user is already there? -->
          <a href="<% if (current_user) %> <%= user_path(current_user.id) %> <% else %> <%= '#' %> <% end %>"><i class="fa fa-user fa-3x"></i></a>
          <div>
            Profile
          </div>
        </div>
      </div>

    <div class="nav-icon-container">
      <div class="nav-icon">
        <a href="#"><i class="fa fa-users fa-3x"></i></a>
        <div>
          Forum
        </div>
      </div>
    </div>
      <div class="nav-icon-container">
        <div class="nav-icon">
          <a href="#"><i class="fa fa-calendar fa-3x"></i></a>
          <div>
            Calendar
          </div>
        </div>
      </div>

      <div class="nav-icon-container">
        <div class="nav-icon">
          <a href="<%= suggestions_path %>"><i class="fa fa-cube fa-3x"></i></a>
          <div>
            Suggestion Box
          </div>
        </div>
      </div>

        <div id="logout" class="nav-icon-container">
          <div id="logout-button">
            <%= link_to "Log Out", session_path, method: "delete" %>
          </div>
        </div>
      <% end %>
    </div>
    <header>
      <div class="logo-container">
        <div class="logo">
          NEIGHBOR<span>NATION</span>
        </div>
      </div>
    </header>
  <div id="main-page">
    <% if flash[:message] %>
      <div class="message">
        <%= flash[:message] %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
<%= javascript_include_tag 'application' %>
 <script>
  function initialize() {
    var mapCanvas = document.getElementById('map-canvas');
    var mapOptions = {
      center: new google.maps.LatLng(40.7027, -74.0059),
      zoom: 12,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions)
  }
  google.maps.event.addDomListener(window, 'load', initialize);
 </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
</html>
