<!DOCTYPE html>
<html>
<head>
  <title>NeighborNation</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,600,200|Oxygen:400,300' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
</head>
<body>
  <% if current_user %>
    <div id="nav-burger-wrapper">
      <div id="nav-burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="menu-wrapper">
      <ul id="menu">
        <li><a href="<% if (@user) %> <%= user_path(@user) %> <% end %>"><i class="fa fa-user fa-2x"></i></a>
          <div>
            Profile
          </div>
        </li>
        <li><a href=""><i class="fa fa-users fa-2x"></i></a>
          <div>
            Forum
          </div>
        </li>
        <li><a href=""><i class="fa fa-calendar fa-2x"></i></a>
          <div>
            Calendar
          </div>
        </li>
        <li><a href="<%= suggestions_path %>"><i class="fa fa-cube fa-2x"></i></a>
          <div>
            Suggestion Box
          </div>
        </li>
        <li>
          <div id="logout">
            <div id="logout-button">
              <%= link_to "Log Out", session_path, method: "delete" %>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div id="left-column">
      <div class="nav-icon-container">
        <div class="nav-icon">
          <a href="<% if (current_user) %> <%= user_path(current_user.id) %> <% else %> <%= '#' %> <% end %>"><i class="fa fa-user fa-3x"></i></a>
          <div>
            Profile
          </div>
        </div>
      </div>

    <div class="nav-icon-container">
      <div class="nav-icon">
        <a href="#"><i class="fa fa-users fa-3x"></i></a>
        <div>
          Forum
        </div>
      </div>
    </div>
      <div class="nav-icon-container">
        <div class="nav-icon">
          <a href="#"><i class="fa fa-calendar fa-3x"></i></a>
          <div>
            Calendar
          </div>
        </div>
      </div>

      <div class="nav-icon-container">
        <div class="nav-icon">
          <a href="<%= suggestions_path %>"><i class="fa fa-cube fa-3x"></i></a>
          <div>
            Suggestion Box
          </div>
        </div>
      </div>

        <div id="logout" class="nav-icon-container">
          <div id="logout-button">
            <%= link_to "Log Out", session_path, method: "delete" %>
          </div>
        </div>
    </div>
  <% end %>

    <header>
      <% if current_user %>
      <div class="logo-container">
      <% else %>
      <div class="logo-expanded">
      <% end %>
        <div class="logo">
          <span>NEIGHBOR</span><span>NATION</span>
        </div>

      <% if !current_user %>
        <div class="motto">
          Discover your neighbors. Start a micro-community.
        </div>
      <% end %>

      </div>
    </header>

    <% if !current_user %>
      <div id="welcome-container-expanded">
        <div id="welcome-message-expanded">
          Welcome to Neighbor Nation, a platform for apartment tenants and residents to connect, communicate and create together. Let’s be good neighbors.
          <div id="come-join">
            Come join us!
          </div>
          <div>
            <i  id="scroll-button" class="fa fa-chevron-down"></i>
          </div>
        </div>
      </div>
    <% end %>

  <% if current_user %>
  <div id="main-page">
  <% else %>
  <div id="main-page-expanded">
  <% end %>

    <% if flash[:message] %>
      <div class="message">
        <%= flash[:message] %>
      </div>
    <% end %>

    <%= yield %>
    <%= yield :header %>
  </div>

  <% if !current_user %>
  <footer>
    <div class="footer-container">

    </div>
  </footer>
  <% end %>

</body>
<%= javascript_include_tag 'application' %>

<!-- Google maps keeps throwing errors at the moment -->
<script>
  function initialize() {
    var mapCanvas = document.getElementById('map-canvas');
    var mapOptions = {
      center: new google.maps.LatLng(40.7027, -74.0059),
      zoom: 12,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(mapCanvas, mapOptions)
  }
  google.maps.event.addDomListener(window, 'load', initialize);
 </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
</html>
